@import url("../../css/partials/_variables.css");

.navbar-brand {
  padding: 0 0 0 5rem;
}

.nav-bar {
  padding: 1rem 20rem;
}

.nav-bar .nav-link {
  font: normal 500 15px/2px var(--roboto);
  text-transform: uppercase;
  color: var(--title-color) !important;
  padding: 1.7rem !important;
}

.nav-bar .active {
  background: var(--gradient-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar .nav-link:hover {
  background: var(--gradient-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
